# Python specific
__pycache__/
*.pyc
*.pyo

# Django specific
*.log
/media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
.env/
ENV/

# macOS
.DS_Store

# VSCode and IDE specific
.vscode/
.idea/
*.swp

# Migrations
*/migrations/*

# Ignore compiled code
*.so

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
